<div style="text-align:center">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- blog -->
	<ins class="adsbygoogle"
	     style="display:inline-block;width:728px;height:90px"
	     data-ad-client="ca-<%- theme.adsense_id %>"
	     data-ad-slot="2042966198"></ins>
	<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>